{% extends 'base.html' %}
{% load cache %}
{% block title %}
    Страница подписок
{% endblock %}
{% block content %}
    <div class="container py-5">     
        <h1>Последние обновления на сайте</h1>
        <article>
        {% include 'posts/includes/switcher.html' %}
        {% cache 20 follow_page %}
        {% for post in page_obj %}
        {% include 'posts/includes/post_list.html' %}
            {% if post.group %}  
            <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
            {% endif %} 
            {% if not forloop.last %}<hr>{% endif %}
        {% endfor %}
        {% endcache %}
        {% include 'posts/includes/paginator.html' %}
        </article>
      </div>
{% endblock %}
